{% extends "base.html" %}


{% block content %}

    <div class="w3-content">

        <div class="w3-container">
            <div>
                {% lorem %}
            </div>

            {% for post in post_list %}
                <div class="w3-container w3-padding-16">
                    <div class="w3-card-4" style="width: 50%;">
                        <header class="w3-container w3-green">
                            <p>{{ post.title }}</p>
                        </header>
                        <div class="w3-container">
                            <p>{{ post.content | slice:200 }}</p>
                            <p><a class="w3-button w3-blue" href="{{ post.slug }}">Read more &rAarr;</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        <div>
            <h2>Create post</h2>
            <form method="post" action="add/">
                {% csrf_token %}
                <p>{{ form.title }}</p>
                <p>{{ form.content }}</p>
                <p>{{ form.status }}</p>
                <input class="w3-btn w3-blue w3-hover-gray" type="submit" value="Create">
            </form>
        </div>

        </div>

    </div>

{% endblock content %}