{% extends "base.html" %}


{% block content %}
    <!-- Grid -->
    <div class="w3-row">
        <div class="w3-col l12 s12">
            <div class="w3-card-4 w3-margin w3-white w3-padding-16">
                <div class="w3-content">
                    <div class="w3-row">
                        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
                        <p>{{ post.author }} | {{ post.date_created }}</p>
                        <p>{{ object.content | safe }}</p>
                    </div>
                    <a class="w3-button w3-red" href="{% url 'blog:delete_post' post.slug %}">Delete</a>
                    <a class="w3-button w3-green" href="{% url 'blog:edit_post' post.slug %}">Edit</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}